@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
 margin: 0;
 box-sizing: border-box;
 padding: 0;
}

html,
body {
 height: 100%;
}

body {
 font-family: "Rubik", sans-serif;
 font-size: 1.125rem;
}

#header-wrapper {
 background: url("./assets/images/pattern-bg-desktop.png") no-repeat;
 background-position: 50% 50%;
 background-size: cover;
}

@media (max-width: 560px) {
 #header-wrapper {
  background: url("./assets/images/pattern-bg-mobile.png") no-repeat;
  background-position: 50% 50%;
  background-size: cover;
 }
}

#map {
 min-height: 100%;
 z-index: 40;
}

#results-wrapper h2 {
 @apply text-sm uppercase font-bold text-dark-grey;
}

#container-wrapper {
 width: min(80%, 1440px);
 margin: 0 auto;
 position: relative;
}

#results-wrapper div + div {
 /* outline: auto; */
 @apply sm:pl-8 sm:border-l-2 border-gray-400;
}

.border-left {
 border-left: 1px solid grey;
}

#results-wrapper p {
 @apply text-lg sm:text-2xl font-medium text-very-dark-grey;
}
